/*css*/
* {
    border: 0px solid #4d4d4d
    margin: 0px
}
body{background-image:url(62768f35548802953eea51e6c7c9aa26.jpg);
    background-repeat: no-repeat;
    
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -box-sizing: border-box;
}

.grid{border-color: #4d4d4d;}
.row-2 col-4 {background-color: #4d4d4d; 
}

.col-12 a {text-decoration: none;
    color: #3d3d3d;
    font-size: 30px;
    font: bold;}
{ 
    width: 100%;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 49.98%;
}

.col-7 {
    width: 58.31%;
}

.col-8 {
    width: 66.64%;
}

.col-9 {
    width: 74.97%;
}

.col-10 {
    width: 83.3%;
}

.col-11 {
    width: 91.63%;
}

.col-12 {
    width: 99.96%;
}
.blog-post {overflow: scroll;
    height: 100px;}
    .blog-post {background-color:gainsboro }